<div class="container">
  <h1>Creación de grupo</h1>

  <form #groupCreateForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <label
          >Nombre
          <input
            type="text"
            #name="ngModel"
            [(ngModel)]="group.name"
            name="name"
            placeholder="Nombre"
          />
        </label>
      </div>
    </div>
    <div *ngIf="error" class="row">
      <p class="text-danger">
        <strong>{{ error }}</strong>
      </p>
    </div>
    <div class="row justify-center">
      <button
        *ngIf="memberId"
        [routerLink]="['/users', memberId]"
        class="btn btn-secondary"
      >
        Atrás
      </button>
      <button *ngIf="!memberId" routerLink="/" class="btn btn-secondary">
        Atrás
      </button>
      <button type="submit" class="btn btn-success">Crear grupo</button>
    </div>
  </form>
</div>
