<div *ngIf="members">
  <h2>Miembros:</h2>
  <div *ngIf="members.length; else noMembers">
    <ul *ngFor="let member of members">
      <li>
        <span
          >{{ member.firstName }} {{ member.lastName1 }}
          {{ member.lastName2 }}
        </span>
        <a
          (click)="removeMember($event, member)"
          href="#"
          class="text-danger pl-1"
          ><fa-icon [icon]="faUserTimes"></fa-icon
        ></a>
      </li>
    </ul>
  </div>
  <ng-template #noMembers>
    <p>El grupo todavía no tiene miembros.</p>
  </ng-template>
  <label for="newMember">
    Escribe el email de un usuario para añadirlo al grupo:
  </label>
  <div class="row add-member">
    <div class="col">
      <input
        type="text"
        #member="ngModel"
        [(ngModel)]="newMember"
        name="newMember"
        placeholder="Nuevo miembro"
      />
    </div>
    <div class="col">
      <button
        (click)="addMember()"
        class="btn-add-member btn-circle btn-primary"
      >
        +
      </button>
    </div>
  </div>
  <div *ngIf="error" class="row">
    <p class="text-danger">
      <strong>{{ error }}</strong>
    </p>
  </div>
</div>
