table {
  min-width: 100%;
}

thead,
tbody {
  border: 0.1rem solid $primary;
}

thead {
  background: $primary;
  color: $white;
  font-weight: $font-bold;
}

th,
td {
  text-align: left;
  padding: 1.5rem 1.5rem;
}

.table-wrapper {
  overflow-x: auto;
}
