<div class="container container-full">
  <div *ngIf="user">
    <h1>
      <span
        >{{ user.firstName }} {{ user.lastName1 }} {{ user.lastName2 }}</span
      >
      <span>
        <a
          [routerLink]="['/users/edit', user.id]"
          class="text-primary pl-2 v-align-middle"
          ><fa-icon [icon]="faEdit"></fa-icon> </a
      ></span>
      <span>
        <a
          (click)="deleteUser($event, user)"
          href="#"
          class="text-danger pl-1 v-align-middle"
          ><fa-icon [icon]="faTrashAlt"></fa-icon></a
      ></span>
    </h1>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <app-user-detail-groups
      [userId]="user.id"
      [groups]="groups"
      (refreshGroups)="getGroups($event)"
    ></app-user-detail-groups>
  </div>
</div>
