<div *ngIf="groupHasExpenses && groupHasMoreThanOneMember && balance">
  <h2>Balance:</h2>
  <app-loading [loading]="!balance">
    <div class="row">
      <div *ngFor="let userBalance of balance.balance" class="col">
        <span
          >{{ userBalance.user.firstName }}
          {{ userBalance.user.lastName1 }}
          {{ userBalance.user.lastName2 }} -
        </span>
        <span
          [ngClass]="userBalance.balance > 0 ? 'text-danger' : 'text-success'"
          ><strong>{{ parseAmount(userBalance.balance) }}€</strong></span
        >
      </div>
    </div>
  </app-loading>

  <div *ngIf="balance.payments && balance.payments.length">
    <h2>Pagos:</h2>
    <app-loading [loading]="!balance">
      <p>
        Para equilibrar las deudas, se deberían realizar los siguientes pagos:
      </p>
      <ul *ngFor="let payment of balance.payments" class="list-payment">
        <li>
          <span class="text-secondary"
            ><strong>{{ parseAmount(payment.amount) }}€</strong></span
          >
          <span class="ml-2"
            >{{ payment.paidBy.firstName }}
            {{ payment.paidBy.lastName1 }}
            {{ payment.paidBy.lastName2 }} ->
            {{ payment.paidTo.firstName }}
            {{ payment.paidTo.lastName1 }}
            {{ payment.paidTo.lastName2 }}</span
          >
        </li>
      </ul>
    </app-loading>
  </div>
</div>
