.container {
  margin: 0 auto;
  border-radius: 2rem;
  padding: 4rem 4rem;
  background: $white;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
}

.container-full {
  min-width: 80vw;
  min-height: 80vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.col {
  flex: 1;
  margin-right: 2rem;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: inline-block;
}

@media only screen and (max-width: 450px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 768px) {

}

